flask==3.0.2
python-telegram-bot==20.3
python-dotenv==1.0.0
flask-admin==1.6.1
flask-bootstrap4==4.0.2
flask-login==0.6.3
flask-wtf==1.2.1
flask-sqlalchemy==3.1.1
flask-migrate==4.0.5
psycopg2-binary==2.9.9
celery==5.3.6
redis==5.0.1
gunicorn==21.2.0